
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Login page </title>
</head>
<body>
        <h1><string>Employee Login</string></h1>
        <form th:action="@{/j_spring_security_check}" method="post">
            <label>User name : </label> <input type="text" name="username">
            <label>Password : </label> <input type="password" name="password">
            <button type="submit" class="btn btn-success">Success</button>
        </form>
</body>

</html>